<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./../Content/accueil.css" />
		<title> Ludema </title>
		<meta charset="utf-8"/>
	</head>

	<body>
  		<header>
    			<img id="logo" src=".\..\Content\image_site/LudemaLogo.png" alt="Logo de Ludema"/>
    			<div id="menu">
  					<ul id="onglets">
    					<li><a class="active" href="view_accueil.html"> Accueil </a></li>
    					<li><a href=""> Réservation </a></li>
    					<li><a href=""> Mon Compte </a></li>
    					<li><a href=""> S'inscrire </a></li>
    					<li><a href=""> Se connecter </a></li>
  					</ul>
				</div>
  		</header>



		<div id="blocppl">

    		<table id="cases" cellspacing="15" >
    			<tr>
       				<td>Vous voulez pratiquez une activité physique mais vous voulez plus de renseignement ? Cliquez <a href="a">ici</a> pour en parler avec un professionnel du domaine.</td>
							<td>Vous voulez pratiquez une activité physique avec un professionnel dans les prochains jours ? </br> Cliquez <a href="a">ici</a> pour réserver votre séance.</td>
  				</tr>
  			</table>
		</div>
	</body>
	<footer>
		<a href= "https://www.facebook.com/centre.ludema"><img class='logo' src=".\..\Content\image_site/Facebook.png"></a>
		<a href= "https://twitter.com/centre_ludema"><img class='logo' src=".\..\Content\image_site/Twitter.png"></a>
		<a href= "https://www.instagram.com/centre_ludema/"><img class='logo' src=".\..\Content\image_site/Instagram.png"></a>
		<a href= "https://www.linkedin.com/company/ludema"><img class='logo' id="In" src=".\..\Content\image_site/In.png"></a>
</footer>
</html>
