* {margin:0; padding:0}

@font-face {
	font-family: "Batang";
	src: url("./../fonts/Batang.ttf");
}
/*  DEBUT HEADER */
header
{
	background-color: #F6F6F6;
}

#onglets
{
	display: inline-block;
	width: 100%;
	background-color: #F6F6F6;
  font : bold 20px Batang, arial, serif;
  text-align: center;
  padding :0; margin: 0 ; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
  border-bottom: 8px solid #E83968;
  min-width: 1000px;
	-moz-box-shadow: 0px 6px 5px #b3b3b3;
	-webkit-box-shadow: 0px 6px 5px #b3b3b3;
	-o-box-shadow: 0px 6px 5px #b3b3b3;
	box-shadow: 0px 6px 7px #b3b3b3;

}

#onglets li
{
	display: inline;
  list-style-type: none;
  margin-left: 15px;
}

#onglets a.active
{
	text-decoration :none;
	color : #71C2AE;
}

#onglets a
{
  margin-left:	auto;
	display : inline-block;
  text-decoration :none;
  padding : 4px;
  color : #1F4F7A;
}

.sticky {
  position: fixed;
	z-index: 1;
	right:0;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#onglets a:hover
{
  color:#FCBF16;
}



body {
	padding-bottom: 100px;
}

#logo
{
	display: inline-block;
	margin-left: 50%;
	transform: translateX(-50%);
  margin-right: auto;
	width: 200px;
	height: auto;
}


/*  FIN HEADER */

/* DEBUT BLOC CENTRAL */
#blocppl
{
	/*border: 8px solid #1F4F7A;*/
	margin-left: auto;
  margin-right: auto;
  margin-top: 4.5%;
  width: 960px;
  min-width: 960px;

}


#cases td
{
	font : bold 20px Batang, arial, serif;
	text-align: center;
	border: 6px solid /*#FCBF16*/#1F4F7A;
  width: 450px;
  min-width: 280px;
  height: 250px;
	max-width: 450px;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0px 6px 17px #8c8c8c;


}
.text_bppl
 {
	margin-top: 70px;#656565
	vertical-align: middle;
	display: inline-block;
}

#cases td a {
	width: 100%;
	height:100%;
	display: block;
}

#cases td:hover{
	background-color:#d6e7f5;

}

#cases a {
	text-decoration :none;
	color: #595959;
}

#cases a:hover{
	color:#595959;
}

/* FIN BLOC CENTRAL */


#imgAccueil{
	display: inline-block;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-right: auto;
	height: auto;argin-top: -50px;

}

/* DEBUT PIED DE PAGE */
footer {
	position:fixed;
	bottom: 0;

	width:100%;
	border-top: 8px solid #E83968;
	background: #F6F6F6;
	text-align: center;
	-moz-box-shadow: 0px -6px 5px  #b3b3b3;
	-webkit-box-shadow: 0px -6px 5px  #b3b3b3;
	-o-box-shadow: 0px -6px 5px  #b3b3b3;
	box-shadow: 0px -6px 6px  #b3b3b3;

}
img.logo {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width:80px;
	height:auto;
}
/* FIN PIED DE PAGE */
