* {margin:0; padding:0}

header
{
	background-color: #F6F6F6;
}
#onglets
{
	background-color: #F6F6F6;
    font : bold 20px Batang, arial, serif;
    text-align: center;
    padding :0; margin: 0 ; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom: 8px solid #E83968;
    min-width: 1000px;
}

#onglets li
{
	display: inline;
    list-style-type: none;
    margin-left: 15px;
}

#onglets a.active
{
	text-decoration :none;
	color : #71C2AE;
}

#onglets a
{
    display : inline-block;
    text-decoration :none;
    padding : 4px;
    color : #1F4F7A;
}
#onglets a:hover
{
    color:#FCBF16;
}

#logo
{
		display: block;
    margin-left: auto;
    margin-right: auto;
		width: 200px;
		height: auto
}

#blocppl
{
	border: 8px solid #1F4F7A;
	margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    width: 960px;
    min-width: 960px;
}

#cases td
{
	border: 6px solid #FCBF16;
	margin-left: auto;
    margin-right: auto;
    width: 450px;
    min-width: 280px;
    height: 250px;
		max-width: 600px;

}

.imagecase
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 300px;
	height: auto;
}

footer {
	position:absolute;
	bottom:0;
	width:100%;
	border-top: 8px solid #E83968;
	background: #F6F6F6;
	text-align: center;

}
img.logo {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width:80px;
	height:auto;
}
